@import "var";

#error-404 {
  height: 100%;
  width: 100%;

  align-items: center;
  justify-content: center;
  text-align: center;

  img {
    // margin-top: 10vh;
    height: 60vmin;
  }

  strong {
    cursor: pointer;
    color: $active-color;
    font-size: calc(20px + 2vmin);
    margin: 4vh;
    line-height: 1.5em;
  }

  code {
    background-color: rgb(212, 212, 212);
  }

  span.autoHideText {
    @media (max-width: 815px) {
      display: none;
    }
  }
}
