@import "var";

#home {
  .grid {
    //min-height: 100vh;
    height: fit-content;

    @media (min-width: 1441px) {
      grid-template-columns: minmax(100px, 55vw) 1fr;
      column-gap: 1vw;
    }

    @media (max-width: 1440px) {
      grid-template-rows: auto 1fr;
      row-gap: 1vh;
    }
  }

  .inputBox {
    width: 100%;
  }

  #input-container {
    @media (max-width: 719px) {
      height: fit-content;
    }
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  #calendar-container {
    height: fit-content;
  }
}
