@import "var";

#home {
  .grid {
    max-height: 100vh;

    grid-template-columns: minmax(100px, 50vw) 1fr;
    column-gap: 1vw;
  }

  .flex-row {
    justify-content: space-between;
    flex-wrap: wrap;

    * {
      margin: 5%;
    }
  }

  #content-1,
  #content-2 {
    min-width: 190px;
    max-width: fit-content;
    max-height: fit-content;
  }

  #input-zone {
    border-radius: 10px;
  }
}
