.inputsForm {
  .input-zone {
    border-radius: 10px;

    justify-content: space-between;
    flex-wrap: wrap;

    * {
      margin: 5%;
    }
  }

  .content-1,
  .content-2 {
    min-width: 190px;
    max-width: fit-content;
    max-height: fit-content;
  }

  #input-container {
    display: flex;
  }
}
