@import "var";

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-col {
  display: flex;
  flex-direction: column;

  * {
    margin-top: 2vh;
  }
}
.flex-auto-row {
  display: flex;

  @media screen and (max-width: 885px) {
    flex-direction: column;
    align-items: center;
  }

  @media screen and (min-width: 885px) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
}

.grid-pancake {
  display: grid;
  grid-template-rows: auto auto 1fr auto;

  height: 100%;
  width: 100%;
}
.grid {
  display: grid;
  height: 100%;
  width: 100%;
}

code {
  background-color: $primary-color;

  padding-right: 1vw;
  padding-left: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;

  border-radius: 2px;
}

h1 {
  border-bottom-style: medium solid $primary-color;
}

.page-frame {
  padding: 1.5vh 1.5vw;

  min-height: 100%;
  min-width: 100%;
  height: fit-content;
  width: fit-content;

  box-sizing: border-box;

  // margin-left: 90px;
}

.display-container {
  background-color: $primary-color;

  border-radius: 5px;
  box-shadow: 0 0 5px 0.25px $active-color;

  padding: 2%;

  // height: fit-content;
  max-height: 100%;
}

button,
.button {
  min-height: 3vh;
  height: fit-content;

  min-width: 3vh;
  width: fit-content;

  border-radius: 5px;

  // border: thin solid red;
  background-color: $active-color;
  color: white;
  font-weight: bolder;

  cursor: pointer;

  white-space: nowrap;

  padding: 1vh 2vw;
}

.formTextField {
  display: block;
  width: 100%;
  box-sizing: border-box;
}

.labelText {
  font-style: italic;
  color: grey;
}

label {
  min-width: 100%;
}

.buttonContainerSi {
  display: flex;
  flex-direction: row;

  justify-content: flex-end;

  * {
    width: fit-content;
    margin-left: 0.5vw;
    margin-bottom: 0;
  }
}

.buttonContainerMul {
  display: flex;
  flex-direction: row;

  justify-content: space-between;
  align-items: center;

  white-space: nowrap;

  * {
    width: fit-content;

    .button {
      width: fit-content;
      margin-left: 0.5vw;
      margin-bottom: 0;
    }
  }
}

.buttonIcon {
  display: flex;
  flex-direction: row;

  justify-content: center;
  align-items: center;

  height: fit-content;
  min-height: 3vh;
  width: fit-content;
  min-width: 3vh;

  * {
    margin: 2%;
  }
}

.closeCross {
  cursor: pointer;
}

.pageScrollContainer {
  position: relative;

  justify-content: flex-start;

  height: 100%;
  width: 100%;

  overflow: hidden scroll;

  box-sizing: border-box;
}

.spacerH {
  --widthSpacerH: 70%;
  --marginSpacerH: calc(100% - var(--widthSpacerH));

  display: inline-block;
  width: var(--widthSpacerH);

  border-top: 1px solid grey;

  margin-left: calc(var(--marginSpacerH) / 2) !important;
  margin-right: calc(var(--marginSpacerH) / 2) !important;

  margin-top: 3.5vh !important;
  margin-bottom: 3.5vh !important;

  height: 1px;
}

.pageWrapper {
  width: 100%;
  height: 100%;

  @media (max-width: 599px) {
    height: calc(100% - var(--navBarHeight));
  }
}

.clickable {
  cursor: pointer;
}

.titleUnderline {
  border-bottom: thin solid grey;
  padding-bottom: 5px;
}

#invisibleZone {
  display: none;
  height: 0;
  width: 0;
  padding: 0;
  margin: 0;
}
