@import "var";

#NavBar {
  position: relative;

  top: 0;
  bottom: 0;
  left: 0;

  height: 100%;
  width: 80px;

  overflow: hidden;

  border-right: thin solid gray;

  * {
    margin: 0;
  }

  #NavBarContent {
    align-items: flex-start;
    height: 100%;
    width: 100%;

    background-color: white;

    .flex-row {
      margin-bottom: 5vh;

      width: 100%;

      align-items: center;
      justify-content: center;
    }

    #home {
      margin-top: 3.5vh;
    }

    #stats {
      margin-bottom: 0;
    }

    #settings {
      margin-top: 0;
    }
  }

  .link-normal {
    color: black;
    font-weight: bold;
    text-decoration: none;

    margin: 0;
    padding: 0;

    box-shadow: inset 0 0 0 0 $primary-color;
    transition: ease-out 0.5s;

    * {
      svg {
        margin: 0;
      }
    }
  }
  .link-active {
    color: $active-color;
    font-weight: bold;
  }

  .link-normal:hover,
  link-active:hover {
    color: $active-color;
  }

  .navButtonContent {
    display: flex;

    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    p {
      margin-top: 10%;
      font-size: 0.75rem;
    }
  }
}
