@import "var";

#NavBar {
  height: 100%;
  width: 80px;

  overflow: hidden;

  border-right: thin solid gray;

  * {
    margin: 0;
  }

  #NavBarContent {
    align-items: flex-start;
    height: 100%;
    width: 100%;

    background-color: white;

    .flex-row {
      margin-bottom: 7vh;

      width: 100%;

      align-items: center;
      justify-content: center;
    }

    #first {
      margin-top: 3.5vh;
    }

    //  {
    //   padding: 1.5vh;
    //   margin-top: 0.85vh;
    //   margin-bottom: 0.85vh;

    //   text-align: center;
    // }
  }

  .link-normal {
    color: black;
    font-weight: bold;
    text-decoration: none;

    margin: 0;
    padding: 0;

    box-shadow: inset 0 0 0 0 $primary-color;
    transition: ease-out 0.5s;

    * {
      svg {
        margin: 0;
      }
    }
  }
  .link-active {
    color: $active-color;
    font-weight: bold;
  }

  .link-normal:hover,
  link-active:hover {
    color: $active-color;
  }
}
