@import "var";

#NavBar {
  height: 100%;

  background-color: $primary-color;

  justify-content: center;
  align-items: center;

  * {
    padding: 1.5vh;
    margin-top: 0.85vh;
    margin-bottom: 0.85vh;

    text-align: center;
  }
}

.link-normal {
  color: black;
  font-weight: bold;
  text-decoration: none;
}
.link-active {
  color: $active-color;
  font-weight: bold;

  margin-left: 0.5vw;
  background-color: $background;
}

.link-normal:hover,
link-active:hover {
  margin-left: 0.5vw;
  background-color: whitesmoke;
}
