#stats {
  #statsContainer {
    display: grid;
    grid-template-rows: 50vh 50vh;
  }

  #graphContainer {
    display: flex;

    #trashStats {
      height: 300px;
      width: 600px;
    }
    #trashStatsGraph {
      height: 100% !important;
      width: 100% !important;
    }
  }
}
