#stats {
  #statsContainer {
    display: grid;
    grid-template-rows: minmax(50vh, auto) minmax(50vh, auto);
    gap: 5vh;
  }

  #currentYear {
    height: fit-content;
  }

  #graphContainer {
    display: flex;
    align-content: center;
    justify-content: space-around;

    #trashStats {
      height: 300px;
      width: 600px;
    }
    #trashStatsGraph {
      height: 100% !important;
      width: 100% !important;
    }
  }

  #allYear {
    #inputContainer {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-content: center;

      input {
        margin-right: 1vw;
      }
    }
  }

  .datePickerContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    input {
      height: fit-content;
      width: 15vw;

      margin: auto 0;

      font-weight: 900;
    }
  }
}
