#stats {
  #statsContainer {
    display: grid;
    grid-template-rows: minmax(50vh, auto) minmax(50vh, auto);
    gap: 5vh;
  }

  #currentYear {
    height: fit-content;
  }

  #graphContainer {
    display: flex;
    align-content: center;
    justify-content: space-around;
    flex-wrap: wrap;

    @media (min-width: 720px) {
      #trashStats {
        height: 300px;
        width: 600px;
      }
    }

    @media (max-width: 719px) {
      #trashStats {
        height: 150px;
        width: 300px;
      }
    }

    #trashStatsGraph {
      height: 100% !important;
      width: 100% !important;
    }
  }

  #allYear {
    #inputContainer {
      display: flex;
      flex-direction: row;

      justify-content: space-between;
      align-content: center;

      input {
        margin-right: 1vw;
      }
    }
  }

  .datePickerContainer {
    display: flex;

    @media (min-width: 720px) {
      flex-direction: row;
    }

    @media (max-width: 719px) {
      flex-direction: column;
    }

    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;

    input {
      height: fit-content;
      width: 15vw;
      min-width: 127px;

      margin: auto 0;

      font-weight: 900;
    }
  }
}
